/**
 * General elements
 */
html {
    overflow-y: scroll;
}
body {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

/**
 * Layout of the main page elements
 */
#wrapper {
    margin: 0 auto;
    padding: 12px;
    width: 960px;
}
#main{
    margin-top: 20px;
}


/**
 * Layout for header
 */
#header {
    position: relative;
    width: 960px;

    border: 1px solid #222;
    background-color: #111;
    background-image: linear-gradient(#444, #111);
    box-shadow: 0 1px 1px #777;
}
.start-image {
    width: 980px;
    height: 200px;
}
.start-image img{
    object-fit: none; /* Do not scale the image */
    object-position: center; /* Center the image within the element */
    height: 100%;
    width: 100%;
    -webkit-filter: grayscale(100%);
    opacity: 0.5;
}

.sitetitle {
    position: absolute;
    top: 6px;
    left: 130px;
    font-size: 48px;
    color: whitesmoke;
}

.siteslogan {
    position: absolute;
    top: 65px;
    left: 130px;
    font-style: italic;
    color: whitesmoke;
}


/**
 * Layout for main
 */
#main {
    min-height: 20em;
}


/**
 * Layout for footer
 */
#footer {
    margin-top: 40px;
    border-top: 1px solid #ccc;
    padding-top: 15px;
    clear: both;
}

.sitefooter {
    color: #666;
}
.sitelogo{
    height: 80px;
}

/* import mos standard gray navbar */
/* @import url(http://dbwebb.se/style/?id=86&css); */


.selected {
    color: white;
    background-color: #0186ba;
    background-image: linear-gradient(#04acec, #0186ba);
}
label {
    display:block;
    margin-top:20px;
    letter-spacing:2px;
}
input, textarea {
    width:439px;
    height:27px;
    background:#efefef;
    border:1px solid #dedede;
    padding:10px;
    margin-top:3px;
    font-size:0.9em;
    color:#3a3a3a;
}

textarea {
    height:213px;
}
input:focus, textarea:focus {
    border:1px solid #97d6eb;
}
#submit {
    display: block;
    width:127px;
    height:38px;
    border:none;
    margin-top:20px;
    cursor:pointer;
}
#submit:hover {
    color:#FFFFFF;
    opacity:.9;
    background:#2cb300;
}
.medlems-text {
    float: right;
    width: 400px;
}

/*------------------------------------*\
    NAV
\*------------------------------------*/

#menu {
    width: 960px;
    margin: 60px auto;
    border: 1px solid #222;
    background-color: #111;
    background-image: linear-gradient(#444, #111);
    box-shadow: 0 1px 1px #777;
}

#menu, #menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
#menu:before,
#menu:after {
    content: "";
    display: table;
}

#menu:after {
    clear: both;
}

#menu {
    zoom:1;
}
#menu li {
    float: left;
    border-right: 1px solid #222;
    box-shadow: 1px 0 0 #444;
    position: relative;
}

#menu a {
    float: left;
    padding: 12px 30px;
    color: white;
    text-transform: uppercase;
    font: bold 12px Arial, Helvetica;
    text-decoration: none;
    text-shadow: 0 1px 0 #000;
}

#menu li:hover > a {
    color: #fafafa;
    background-color: #0186ba;
    background-image: linear-gradient(#04acec, #0186ba);
}

*html #menu li a:hover { /* IE6 only */
    color: #fafafa;
}
#menu ul {
    margin: 20px 0 0 0;
    _margin: 0; /*IE6 only*/
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 38px;
    left: 0;
    z-index: 1;
    background: #444;
    background: linear-gradient(#444, #111);
    box-shadow: 0 -1px 0 rgba(255,255,255,.3);
    transition: all .2s ease-in-out;
}

#menu li:hover > ul {
    opacity: 1;
    visibility: visible;
    margin: 0;
}

#menu ul ul {
    top: 0;
    left: 170px;
    margin: 0 0 0 20px;
    _margin: 0; /*IE6 only*/
    box-shadow: -1px 0 0 rgba(255,255,255,.3);
}

#menu ul li {
    float: none;
    display: block;
    border: 0;
    _line-height: 0; /*IE6 only*/
    box-shadow: 0 1px 0 #111, 0 2px 0 #666;
}

#menu ul li:last-child {
    box-shadow: none;
}

#menu ul a {
    padding: 10px;
    width: 150px;
    _height: 10px; /*IE6 only*/
    display: block;
    white-space: nowrap;
    float: none;
    text-transform: none;
}

#menu ul a:hover {
    background-color: #0186ba;
    background-image: linear-gradient(#04acec, #0186ba);
}
#menu ul li:first-child > a {

}

#menu ul li:first-child > a:after {
    content: '';
    position: absolute;
    left: 40px;
    top: -6px;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #444;
}

#menu ul ul li:first-child a:after {
    left: -6px;
    top: 50%;
    margin-top: -6px;
    border-left: 0;
    border-bottom: 6px solid transparent;
    border-top: 6px solid transparent;
    border-right: 6px solid #3b3b3b;
}

#menu ul li:first-child a:hover:after {
    border-bottom-color: #04acec;
}

#menu ul ul li:first-child a:hover:after {
    border-right-color: #0299d3;
    border-bottom-color: transparent;
}

#menu ul li:last-child > a {
    border-radius: 0 0 3px 3px;
}
.form{
    float: left;
    margin-bottom: 10px;
}
.form input{
    margin-right: 62px;
    width:400px;
    height:27px;
    background:#efefef;
    border:1px solid #dedede;
    padding:10px;
    margin-top:3px;
    font-size:0.9em;
    color:#3a3a3a;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
}
.form textarea {
    height:200px;
    width: 400px;
}
input:focus, textarea:focus {
    border:1px solid #97d6eb;
}
.message input {
    width:300px;
    height:27px;
    background:#efefef;
    border:1px solid #dedede;
    padding:10px;
    margin-top:3px;
    font-size:0.9em;
    color:#3a3a3a;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
}

.add a{
    padding: .8em 1.5em;
    text-decoration: none;
    color: #555;
    text-shadow: 0 1px 0 rgba(255,255,255,.5);

    letter-spacing: 1px;
    text-transform: uppercase;
    border-width: 1px;
    border-style: solid;
    border-color: #fff #ccc #999 #eee;
    background: #c1c1c1;
    background: linear-gradient(#f5f5f5, #c1c1c1);
}
.add a:hover{
    outline: 0;
    color: #fff;
    text-shadow: 0 1px 0 rgba(0,0,0,.2);
    background: #fac754;
    background: linear-gradient(#fac754, #f8ac00);
}
.add input{
    height: 46px;
    width: 130px;
    padding: .8em 1.5em;
    text-decoration: none;
    color: #555;
    text-shadow: 0 1px 0 rgba(255,255,255,.5);

    letter-spacing: 1px;
    text-transform: uppercase;
    border-width: 1px;
    border-style: solid;
    border-color: #fff #ccc #999 #eee;
    background: #c1c1c1;
    background: linear-gradient(#f5f5f5, #c1c1c1);
}
.add input:hover{
    outline: 0;
    color: #fff;
    text-shadow: 0 1px 0 rgba(0,0,0,.2);
    background-color: #111;
    background-image: linear-gradient(#444, #111);
}

ol.simple-list {
    list-style-type: none;
    list-style-type: decimal !ie; /*IE 7- hack*/
    counter-reset: li-counter;
}
ol.simple-list > li{
    position: relative;
    margin-bottom: 20px;
    padding-left: 0.5em;
    min-height: 2em;
    border-left: 2px solid #CCCCCC;
}
ol.simple-list > li:before {
    position: absolute;
    top: 0;
    left: -1em;
    width: 0.8em;

    font-size: 3em;
    line-height: 1;
    font-weight: bold;
    text-align: right;
    color: #464646;

    content: counter(li-counter);
    counter-increment: li-counter;
}
h2 {
    color: #464646;
}
.aside{
    float: right;

}

/*--------------CALENDER---------------*/

table {
    border-collapse: collapse;
    border-spacing: 0;
}
.cal {
    position: relative;
    padding: 4px;
    font-weight: bold;
    background: #bebfc0;
    background: rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    display: inline-block;
    vertical-align: baseline;
    zoom: 1;
    *display: inline;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.2), 0 1px rgba(255, 255, 255, 0.4);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.2), 0 1px rgba(255, 255, 255, 0.4);
}

.cal a {
    text-decoration: none;
}
.cal tr:first-child td {
    border-top: 0;
}
.cal td:first-child {
    border-left: 0;
}
.cal tr:first-child a {
    border-top: 0;
    margin-top: 0;
}
.cal tr:last-child a {
    border-bottom: 0;
    margin-bottom: 0;
}
.cal td:first-child a {
    border-left: 0;
    margin-left: 0;
}
.cal td:last-child a {
    border-right: 0;
    margin-right: 0;
}
.cal tr:last-child td:first-child a {
    border-radius: 0 0 0 3px;
}
.cal tr:last-child td:last-child a {
    border-radius: 0 0 3px 0;
}

.cal-table {
    position: relative;
    margin: 0 0 1px;
    border-collapse: separate;
    border-left: 1px solid #979797;
    border-right: 1px solid #979797;
    border-bottom: 1px solid #bbb;
    border-radius: 0 0 3px 3px;
    -webkit-box-shadow: 1px 0 rgba(0, 0, 0, 0.1), -1px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 1px 0 rgba(0, 0, 0, 0.1), -1px 0 rgba(0, 0, 0, 0.1);
}

.cal-caption {
    width: 100%;
    padding-bottom: 1px;
    line-height: 32px;
    color: white;
    text-align: center;
    text-shadow: 0 -1px rgba(0, 0, 0, 0.3);
    border-radius: 3px 3px 0 0;
    background-color: #111;
    background-image: linear-gradient(#444, #111);
    -webkit-box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.2), inset 0 1px rgba(0, 0, 0, 0.1), inset 0 2px rgba(255, 255, 255, 0.25), 0 1px 3px rgba(0, 0, 0, 0.4);
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.2), inset 0 1px rgba(0, 0, 0, 0.1), inset 0 2px rgba(255, 255, 255, 0.25), 0 1px 3px rgba(0, 0, 0, 0.4);
}
.cal-caption a {
    line-height: 30px;
    padding: 0 10px;
    font-size: 20px;
    font-weight: normal;
    color: white;
}
.cal-caption .prev {
    float: left;
}
.cal-caption .next {
    float: right;
}

.cal-body td {
    width: 30px;
    font-size: 11px;
    border-top: 1px solid #eaeaea;
    border-left: 1px solid #eaeaea;
}
.cal-body a {
    display: block;
    position: relative;
    line-height: 28px;
    color: #555;
    text-align: center;
    background: white;
}
.cal-body a:hover {
    background: #b3b3b3;
}

.cal-off a {
    color: #ccc;
    font-weight: normal;
}

.cal-today a {
    color: black;
    background: #f5f5f5;
    background-image: -webkit-linear-gradient(top, whitesmoke, white 70%);
    background-image: -moz-linear-gradient(top, whitesmoke, white 70%);
    background-image: -o-linear-gradient(top, whitesmoke, white 70%);
    background-image: linear-gradient(to bottom, whitesmoke, white 70%);
}

.cal-selected a, .cal-body a:active {
    margin: -1px;
    color: #b2494d;
    background: #fff5f6;
    border: 1px solid #e7d4d4;
}

.cal-check a {
    color: #f79901;
    overflow: hidden;
}
.cal-check a:before {
    content: '';
    position: absolute;
    top: -6px;
    right: -6px;
    width: 12px;
    height: 12px;
    background: #ffb83b;
    background-image: -webkit-linear-gradient(top, #ffb83b, #ff6c00);
    background-image: -moz-linear-gradient(top, #ffb83b, #ff6c00);
    background-image: -o-linear-gradient(top, #ffb83b, #ff6c00);
    background-image: linear-gradient(to bottom, #ffb83b, #ff6c00);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.lt-ie8 .cal-table {
    *border-collapse: collapse;
}
.lt-ie8 .cal-body a {
    zoom: 1;
}
/*--------------END CALENDER---------------*/
#login{
    float: right;
}
.nyheter{
    float: left;
    width: 700px;
}
.user-name{
    position: relative;
    left: 930px;
    top: -37px;
    color: white;
}
.user-logo{
    position: relative;
    left: 930px;
    top: -37px;
    color: #ccc;
}
.user-logo img{
    height:35px;
}

.blogg{
    float: left;
    width: 466px;
    margin-left: 10px;

}
.blogg-start{
    width: 240px;
}
.blogg-start a{

    text-decoration: none;
    color: black;
}
.blogg-form {
    float: right;
}
.box {
    border: 1px solid #ccc;
    border-left: 5px solid #3f3f3f;
    /* padding-bottom: 30px; */
    overflow: hidden;
    padding-left: 10px;
    min-height: 100px;
    margin-bottom: 5px;
}
.box a{
    padding: .8em 1.5em;
    text-decoration: none;
    color: #555;
    text-shadow: 0 1px 0 rgba(255,255,255,.5);

    letter-spacing: 1px;
    text-transform: uppercase;
    border-width: 1px;
    border-style: solid;
    border-color: #fff #ccc #999 #eee;
    background: #c1c1c1;
    background: linear-gradient(#f5f5f5, #c1c1c1);
}
.box a:hover{
    outline: 0;
    color: #fff;
    text-shadow: 0 1px 0 rgba(0,0,0,.2);
    background-color: #111;
    background-image: linear-gradient(#444, #111);
}

.blogg-box{
    float: left;
    width: 450px;
    border: 1px solid #ccc;
    border-left: 5px solid #3f3f3f;
    /* padding-bottom: 30px; */
    overflow: hidden;
    padding-left: 10px;
    min-height: 100px;
    margin-bottom: 5px;
}
.blogg-box img{
    float: right;
    width: 150px;
    height: 150px;
}
.rubrik {
    /* position: relative; */
    height: 20px;
    color: white;
    border: 1px solid #222;
    background-color: #3f3f3f;
    /* border-radius: 6px 6px 1px 1px; */
    margin-bottom: 5px;
}
.undertext{
    font-size: 17px;
    position: relative;
    top: -16px;
    left: 15px;
}
.blogg-box a{
    padding: .8em 1.5em;
    text-decoration: none;
    color: #555;
    text-shadow: 0 1px 0 rgba(255,255,255,.5);

    letter-spacing: 1px;
    text-transform: uppercase;
    border-width: 1px;
    border-style: solid;
    border-color: #fff #ccc #999 #eee;
    background: #c1c1c1;
    background: linear-gradient(#f5f5f5, #c1c1c1);
}
.blogg-box a:hover{
    outline: 0;
    color: #fff;
    text-shadow: 0 1px 0 rgba(0,0,0,.2);
    background-color: #111;
    background-image: linear-gradient(#444, #111);
}

.blogg a{
    text-decoration: none;
    color: black;
}

.pub{
    color: #0299d3;
    font-size: 11px;
}
.blogg-box_first{
    float: left;
    width: 334px;
    border: 1px solid #ccc;
    border-left: 5px solid #3f3f3f;
    /* padding-bottom: 30px; */
    overflow: hidden;
    padding-left: 10px;
    min-height: 100px;
    margin-bottom: 5px;
}
.link{
    float: right;
    font-size: 10px;
}

/* ------------TABLE--------------*/
.CSSTableGenerator {
    margin: 9px;
    float: right;
    padding: 0px;
    width: 400px;
    /* box-shadow: 10px 10px 5px #888888; */
    border: 1px solid #000000;
    -moz-border-radius-bottomleft: 0px;
    -webkit-border-bottom-left-radius: 0px;
    border-bottom-left-radius: 0px;
    -moz-border-radius-bottomright: 0px;
    -webkit-border-bottom-right-radius: 0px;
    border-bottom-right-radius: 0px;
    -moz-border-radius-topright: 0px;
    -webkit-border-top-right-radius: 0px;
    border-top-right-radius: 0px;
    -moz-border-radius-topleft: 0px;
    -webkit-border-top-left-radius: 0px;
    border-top-left-radius: 0px;
}.CSSTableGenerator table{
     width:100%;
     height:100%;
     margin:0px;padding:0px;
 }.CSSTableGenerator tr:last-child td:last-child {
      -moz-border-radius-bottomright:0px;
      -webkit-border-bottom-right-radius:0px;
      border-bottom-right-radius:0px;
  }
.CSSTableGenerator table tr:first-child td:first-child {
    -moz-border-radius-topleft:0px;
    -webkit-border-top-left-radius:0px;
    border-top-left-radius:0px;
}
.CSSTableGenerator table tr:first-child td:last-child {
    -moz-border-radius-topright:0px;
    -webkit-border-top-right-radius:0px;
    border-top-right-radius:0px;
}.CSSTableGenerator tr:last-child td:first-child{
     -moz-border-radius-bottomleft:0px;
     -webkit-border-bottom-left-radius:0px;
     border-bottom-left-radius:0px;
 }.CSSTableGenerator tr:hover td{

  }.CSSTableGenerator tr:nth-child(odd){ background-color:#e5e5e5; }
.CSSTableGenerator tr:nth-child(even)    { background-color:#ffffff; }
.CSSTableGenerator td{
    vertical-align:middle;


    border:1px solid #000000;
    border-width:0px 1px 1px 0px;
    text-align:left;
    padding:7px;
    font-size:10px;
    font-family:arial;
    font-weight:normal;
    color:#000000;
}.CSSTableGenerator tr:last-child td{
     border-width:0px 1px 0px 0px;
 }.CSSTableGenerator tr td:last-child{
      border-width:0px 0px 1px 0px;
  }.CSSTableGenerator tr:last-child td:last-child{
       border-width:0px 0px 0px 0px;
   }
.CSSTableGenerator tr:first-child td{
    background:-o-linear-gradient(bottom, #cccccc 5%, #b2b2b2 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #cccccc), color-stop(1, #b2b2b2) );	background:-moz-linear-gradient( center top, #cccccc 5%, #b2b2b2 100% );	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#cccccc", endColorstr="#b2b2b2");	background: -o-linear-gradient(top,#cccccc,b2b2b2);
    background-color:#cccccc;
    border:0px solid #000000;
    text-align:center;
    border-width:0px 0px 1px 1px;
    font-size:14px;
    font-family:arial;
    font-weight:bold;
    color:#000000;
}
.CSSTableGenerator tr:first-child:hover td{
    background:-o-linear-gradient(bottom, #cccccc 5%, #b2b2b2 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #cccccc), color-stop(1, #b2b2b2) );	background:-moz-linear-gradient( center top, #cccccc 5%, #b2b2b2 100% );	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#cccccc", endColorstr="#b2b2b2");	background: -o-linear-gradient(top,#cccccc,b2b2b2);
    background-color:#cccccc;
}
.CSSTableGenerator tr:first-child td:first-child{
    border-width:0px 0px 1px 0px;
}
.CSSTableGenerator tr:first-child td:last-child{
    border-width:0px 0px 1px 1px;
}